	<main class="index">

	<header class="masthead d-flex">

	<div class="container text-center my-auto">

		<h1 class="mb-1">Pasa algo</h1>
		<h3 class="mb-5"><em></em></h3>


	<div class="container p-4">
	<div class="row">

		<div class="col-md-4 mx-auto"><!--con el comando mx-auto que pongo ahi estoy centrando el formulario entero-->
		<div class="card">
			<div class="card-body">

				<form action="/links/add" method="POST">

					<div class="form-group">

						<input types="text" class="form-control" name="valor1" placeholder="Numer 1" autofocus><!-- el autofocus hace que se centre en ese input al carga la pag-->


					</div>
					<div class="form-group">
						<input type="text" name="valor2" class="form-control" placeholder="Number 2">
					</div>
					
					<div class="form-group">
						<button class="btn btn-success btn-block">
							Sumar
						</button>
					</div>

				</form>

			</div>

		</div>	
		</div>

	</div>
</div>
	
	{{#if result}}
	<h3 class="mb-5"><em>Resultado:</em></h3>
	<h3 class="mb-5">{{result}}</h3>
	{{else}}
	<h3 class="mb-5"><em>Resultado:</em></h3>
	<h3 class="mb-5">nada por aqui</h3>
	{{/if}}
	</div>

	</header>

</main>